servico.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdlsoap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="urn:gestao.matriculas.uern" targetNamespace="urn:gestao.matriculas.uern" name="GestaoMatriculaService">
  <wsdl:types>
    <xs:schema targetNamespace="urn:gestao.matriculas.uern" elementFormDefault="qualified">
      <xs:complexType name="Matricula">
        <xs:sequence>
          <xs:element name="id_matricula" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="id_aluno" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="id_curso" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="status" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="data_registro" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RespostaOperacao">
        <xs:sequence>
          <xs:element name="sucesso" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="mensagem" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UsernameToken">
        <xs:sequence>
          <xs:element name="Username" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="Password" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MatriculaArray">
        <xs:sequence>
          <xs:element name="Matricula" type="tns:Matricula" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelar_matricula">
        <xs:sequence>
          <xs:element name="id_matricula" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="consultar_matricula">
        <xs:sequence>
          <xs:element name="id_matricula" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="excluir_matricula">
        <xs:sequence>
          <xs:element name="id_matricula" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listar_matriculas_ativas">
        <xs:sequence>
          <xs:element name="id_aluno" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="registrar_matricula">
        <xs:sequence>
          <xs:element name="id_aluno" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="id_curso" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WSSecurity">
        <xs:sequence>
          <xs:element name="UsernameToken" type="tns:UsernameToken" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelar_matriculaResponse">
        <xs:sequence>
          <xs:element name="cancelar_matriculaResult" type="tns:RespostaOperacao" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="consultar_matriculaResponse">
        <xs:sequence>
          <xs:element name="consultar_matriculaResult" type="tns:Matricula" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="excluir_matriculaResponse">
        <xs:sequence>
          <xs:element name="excluir_matriculaResult" type="tns:RespostaOperacao" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listar_matriculas_ativasResponse">
        <xs:sequence>
          <xs:element name="listar_matriculas_ativasResult" type="tns:MatriculaArray" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="registrar_matriculaResponse">
        <xs:sequence>
          <xs:element name="registrar_matriculaResult" type="tns:Matricula" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Matricula" type="tns:Matricula"/>
      <xs:element name="RespostaOperacao" type="tns:RespostaOperacao"/>
      <xs:element name="UsernameToken" type="tns:UsernameToken"/>
      <xs:element name="MatriculaArray" type="tns:MatriculaArray"/>
      <xs:element name="cancelar_matricula" type="tns:cancelar_matricula"/>
      <xs:element name="consultar_matricula" type="tns:consultar_matricula"/>
      <xs:element name="excluir_matricula" type="tns:excluir_matricula"/>
      <xs:element name="listar_matriculas_ativas" type="tns:listar_matriculas_ativas"/>
      <xs:element name="registrar_matricula" type="tns:registrar_matricula"/>
      <xs:element name="WSSecurity" type="tns:WSSecurity"/>
      <xs:element name="cancelar_matriculaResponse" type="tns:cancelar_matriculaResponse"/>
      <xs:element name="consultar_matriculaResponse" type="tns:consultar_matriculaResponse"/>
      <xs:element name="excluir_matriculaResponse" type="tns:excluir_matriculaResponse"/>
      <xs:element name="listar_matriculas_ativasResponse" type="tns:listar_matriculas_ativasResponse"/>
      <xs:element name="registrar_matriculaResponse" type="tns:registrar_matriculaResponse"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="registrar_matricula">
    <wsdl:part name="registrar_matricula" element="tns:registrar_matricula"/>
  </wsdl:message>
  <wsdl:message name="registrar_matriculaResponse">
    <wsdl:part name="registrar_matriculaResponse" element="tns:registrar_matriculaResponse"/>
  </wsdl:message>
  <wsdl:message name="WSSecurity">
    <wsdl:part name="WSSecurity" element="tns:WSSecurity"/>
  </wsdl:message>
  <wsdl:message name="consultar_matricula">
    <wsdl:part name="consultar_matricula" element="tns:consultar_matricula"/>
  </wsdl:message>
  <wsdl:message name="consultar_matriculaResponse">
    <wsdl:part name="consultar_matriculaResponse" element="tns:consultar_matriculaResponse"/>
  </wsdl:message>
  <wsdl:message name="listar_matriculas_ativas">
    <wsdl:part name="listar_matriculas_ativas" element="tns:listar_matriculas_ativas"/>
  </wsdl:message>
  <wsdl:message name="listar_matriculas_ativasResponse">
    <wsdl:part name="listar_matriculas_ativasResponse" element="tns:listar_matriculas_ativasResponse"/>
  </wsdl:message>
  <wsdl:message name="cancelar_matricula">
    <wsdl:part name="cancelar_matricula" element="tns:cancelar_matricula"/>
  </wsdl:message>
  <wsdl:message name="cancelar_matriculaResponse">
    <wsdl:part name="cancelar_matriculaResponse" element="tns:cancelar_matriculaResponse"/>
  </wsdl:message>
  <wsdl:message name="excluir_matricula">
    <wsdl:part name="excluir_matricula" element="tns:excluir_matricula"/>
  </wsdl:message>
  <wsdl:message name="excluir_matriculaResponse">
    <wsdl:part name="excluir_matriculaResponse" element="tns:excluir_matriculaResponse"/>
  </wsdl:message>
  <wsdl:service name="GestaoMatriculaService">
    <wsdl:port name="GestaoMatriculaService" binding="tns:GestaoMatriculaService">
      <wsdlsoap11:address location="http://localhost:8000/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:portType name="GestaoMatriculaService">
    <wsdl:operation name="registrar_matricula" parameterOrder="registrar_matricula">
      <wsdl:input name="registrar_matricula" message="tns:registrar_matricula"/>
      <wsdl:output name="registrar_matriculaResponse" message="tns:registrar_matriculaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="consultar_matricula" parameterOrder="consultar_matricula">
      <wsdl:input name="consultar_matricula" message="tns:consultar_matricula"/>
      <wsdl:output name="consultar_matriculaResponse" message="tns:consultar_matriculaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="listar_matriculas_ativas" parameterOrder="listar_matriculas_ativas">
      <wsdl:input name="listar_matriculas_ativas" message="tns:listar_matriculas_ativas"/>
      <wsdl:output name="listar_matriculas_ativasResponse" message="tns:listar_matriculas_ativasResponse"/>
    </wsdl:operation>
    <wsdl:operation name="cancelar_matricula" parameterOrder="cancelar_matricula">
      <wsdl:input name="cancelar_matricula" message="tns:cancelar_matricula"/>
      <wsdl:output name="cancelar_matriculaResponse" message="tns:cancelar_matriculaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="excluir_matricula" parameterOrder="excluir_matricula">
      <wsdl:input name="excluir_matricula" message="tns:excluir_matricula"/>
      <wsdl:output name="excluir_matriculaResponse" message="tns:excluir_matriculaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestaoMatriculaService" type="tns:GestaoMatriculaService">
    <wsdlsoap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registrar_matricula">
      <wsdlsoap11:operation soapAction="registrar_matricula" style="document"/>
      <wsdl:input name="registrar_matricula">
        <wsdlsoap11:body use="literal"/>
        <wsdlsoap11:header use="literal" message="tns:WSSecurity" part="WSSecurity"/>
      </wsdl:input>
      <wsdl:output name="registrar_matriculaResponse">
        <wsdlsoap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar_matricula">
      <wsdlsoap11:operation soapAction="consultar_matricula" style="document"/>
      <wsdl:input name="consultar_matricula">
        <wsdlsoap11:body use="literal"/>
        <wsdlsoap11:header use="literal" message="tns:WSSecurity" part="WSSecurity"/>
      </wsdl:input>
      <wsdl:output name="consultar_matriculaResponse">
        <wsdlsoap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar_matriculas_ativas">
      <wsdlsoap11:operation soapAction="listar_matriculas_ativas" style="document"/>
      <wsdl:input name="listar_matriculas_ativas">
        <wsdlsoap11:body use="literal"/>
        <wsdlsoap11:header use="literal" message="tns:WSSecurity" part="WSSecurity"/>
      </wsdl:input>
      <wsdl:output name="listar_matriculas_ativasResponse">
        <wsdlsoap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelar_matricula">
      <wsdlsoap11:operation soapAction="cancelar_matricula" style="document"/>
      <wsdl:input name="cancelar_matricula">
        <wsdlsoap11:body use="literal"/>
        <wsdlsoap11:header use="literal" message="tns:WSSecurity" part="WSSecurity"/>
      </wsdl:input>
      <wsdl:output name="cancelar_matriculaResponse">
        <wsdlsoap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluir_matricula">
      <wsdlsoap11:operation soapAction="excluir_matricula" style="document"/>
      <wsdl:input name="excluir_matricula">
        <wsdlsoap11:body use="literal"/>
        <wsdlsoap11:header use="literal" message="tns:WSSecurity" part="WSSecurity"/>
      </wsdl:input>
      <wsdl:output name="excluir_matriculaResponse">
        <wsdlsoap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
